body {
    text-align: center;
    background-image: url("https://ih1.redbubble.net/image.498979158.6748/pp,550x550.u2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
#bunch-of-cute-cats {
    display:flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, yellow, orange);
    height: 100%;
    width: 100%;
}
#bunch-of-cute-cats img {
    height: 7rem;
    width: auto;
}
.cat-finder {
    display: block;
    text-allign: center;
    max-width: 200px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
.cat-card {
    display: block;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
  }
  .cat-card img {
    height: auto;
    width: 100%;
    object-fit: cover;

  }